@keyframes spin{
    from{translate:0%;}
    to{translate:-100%;}
}
.scroll-btn-right, .scroll-btn-left{
    position: absolute;
    background-color: red;
    z-index: 1;
    bottom:-10%

}
.scroll-btn-right{
    position:absolute;
    right: 0%;
    
}

.products-list{
    display: grid;  
    grid-auto-columns: 300px;
    grid-template-rows: 300px;
    grid-auto-flow: column;
    z-index: 0;
    animation:spin 5s infinite linear;
}
.container-3{
    display:flex;
    flex-wrap: nowrap;
    flex-direction: row;
    position: relative;
    z-index: 0;
}

.container-3::-webkit-scrollbar{
    display:none
}

.products-list img{
    
    height: 100%;    
    width: 100%;
    z-index: 0;
}
.product{
    border:2px solid var(--white-85);
    background-color: var(--white-90);
    display:grid;
    grid-template-rows: 240px 60px;
    gap: 10px;
    margin: 5px; 
    z-index: 0;
    overflow:hidden;
    
}
.product img{
    transition: all 0.3s ease-in-out;
}
.product:hover img{
    scale:1.3;
    rotate: 10deg;
    
}
.pause-container{
    z-index: 0;
}


.text p{
    line-height: 1;
    margin-inline-start:1rem;
    }
.text h4{
    line-height: 1;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start:1rem;
}  



.img-container{
    overflow: hidden;
    border: 5px solid white;
    box-sizing: content-box ;
}
    /*the next css is made for the landpage, the previous thing was for  mostly only the carouse */
@keyframes changecolorline{
    0%{background: linear-gradient(90deg, var(--primary-color) 40%, var(--secondary-color) 60%);}
    33%{background: linear-gradient(70deg, var(--primary-color) 40%, var(--secondary-color) 60%);}
    60%{background: linear-gradient(50deg, var(--primary-color) 40%, var(--secondary-color) 60%);}
    100%{background: linear-gradient(90deg, var(--primary-color) 40%, var(--secondary-color) 60%);}
}

.main h1:after{
    content:"";
    background: linear-gradient(90deg, var(--primary-color) 40%, var(--secondary-color) 60%);
    width: 100%;
    height: 10px;
    position: absolute;
    bottom:-0.3rem;
    left:0rem;
    filter: blur(5px);
    animation: changecolorline 1s infinite linear;
}
.main h1::before{
    content:"";
    background: linear-gradient(90deg, var(--primary-color) 40%, var(--secondary-color) 60%);
    width: 100%;
    height: 3px;
    position: absolute;
    bottom:-0.1rem;
    left:0rem;
    
    
    
}  
.main{
    display:flex;
    
    margin: 2rem 0em;
    justify-content: center;



}
.main-background{
    display:flex;
    flex-direction: column;
    background-image:url("../imagen/perro1.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    padding: 8%;
    position:relative;
    justify-content: center;
    align-items:center;
}
.overlay{
    border-image-source: linear-gradient( hsl(240 100% 50% / 0.2), hsla(293, 100%, 50%, 0.2) );
    border-image-slice: 1 fill;

    }
    
.main-text{
}   
.main-text-container{
    
    width:60%;
    margin-top: 5rem;
    
}
.main-text-container p{
    margin-block-start:3rem;
    font-size: 1.3rem;
    color:white;

}
.main-tittle{
    position:relative;

    color:white;
    font-size: 2.5rem;
    
}

/* footer container*/
footer{
    display:flex;
    margin: 0.5rem;
    justify-content: space-evenly;
    
}
.footer-container{
    border-radius: 10px;
    height: 100%;
    
    transition: all 0.1s ease-in-out;

}
.footer-container:hover{
    background: var(--primary-color);
    scale:1.1;
    
}

.footer-container p,
.footer-container h1{
    margin-inline: 1rem;
    

}
.footer-container p:hover{
    color:var(--secondary-color);
    scale:1.1;
}

.dual-conatiner{
    display:flex;
    margin:2rem;
    justify-content: space-evenly;
    
}
.dual-conatiner div{
    height: 400px;
}  
