@keyframes spin{
    from{translate:0%;}
    to{translate:-100%;}
}
.scroll-btn-right, .scroll-btn-left{
    position: absolute;
    background-color: red;
    z-index: 1;
    bottom:-10%

}
.scroll-btn-right{
    position:absolute;
    right: 0%;
    
}

.products-list{
    display: grid;  
    grid-auto-columns: 300px;
    grid-template-rows: 300px;
    grid-auto-flow: column;
    z-index: 0;
    animation:spin 30s infinite linear;
    animation-play-state:paused;
}
.container-3{
    display:flex;
    flex-wrap: nowrap;
    flex-direction: row;
    position: relative;
    z-index: 0;
}

.container-3::-webkit-scrollbar{
    display:none
}

.products-list img{
    
    height: 100%;    
    width: 100%;
    z-index: 0;
}
.product{
    border:2px solid var(--white-85);
    background-color: var(--white-90);
    display:grid;
    grid-template-rows: 240px 60px;
    gap: 10px;
    margin: 5px; 
    z-index: 0;
    overflow:hidden;
    
}
.product img{
    transition: all 0.3s ease-in-out;
}
.product:hover img{
    scale:1.3;
    rotate: 10deg;
    
}
.pause-container{
    z-index: 0;
}


.text p{
    line-height: 1;
    margin-inline-start:1rem;
    }
.text h4{
    line-height: 1;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start:1rem;
}  



.img-container{
    overflow: hidden;
    border: 5px solid white;
    box-sizing: content-box ;
}
    /*the next css is made for the landpage, the previous thing was for  mostly only the carouse */
@keyframes changecolorline{
    0%{background: linear-gradient(90deg, var(--primary-color) 40%, var(--secondary-color) 60%);}
    33%{background: linear-gradient(70deg, var(--primary-color) 40%, var(--secondary-color) 60%);}
    60%{background: linear-gradient(50deg, var(--primary-color) 40%, var(--secondary-color) 60%);}
    100%{background: linear-gradient(90deg, var(--primary-color) 40%, var(--secondary-color) 60%);}
}
.main h1{
    margin-inline-start: 15rem;
    position: relative;
    display:inline-block;
}
.main h1:after{
    content:"";
    background: linear-gradient(90deg, var(--primary-color) 40%, var(--secondary-color) 60%);
    width: 100%;
    height: 10px;
    position: absolute;
    bottom:-0.3rem;
    left:0rem;
    filter: blur(5px);
    animation: changecolorline 1s infinite linear;
}
.main h1::before{
    content:"";
    background: linear-gradient(90deg, var(--primary-color) 40%, var(--secondary-color) 60%);
    width: 100%;
    height: 3px;
    position: absolute;
    bottom:-0.1rem;
    left:0rem;
    
    
    
}  


.main{
    min-height:100vh;
    border: 3px solid black;
    background-color: GREY;

}

.path-container {
    width: 100%;
    height: 100%;
    background-color: blue;
    clip-path: path("M 500 50 L 840 50  A 15,15 0,0,0 850 30L 850 20 A 30,30 0,0,1 880 0 L 1200 0 L 1200 500 L 500 500 z");

}
